<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <link rel="icon" href="../images/favicon.ico">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag :site %>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
    <%= javascript_include_tag "javascripts/sweetalert.min.js" %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <nav>
      <a href="/">
        <img id="logo" src="../images/spectrum-logo.png">
      </a>
    </nav>
    <section class="container">
      <div class="row">
        <div class="col-12-xs">
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
</html>
